.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dzu-inputLabel{
  border: 2px dashed #0b791a;
  margin: 10px;
  background: url(./images/baseline-cloud_upload-24px.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  font-size:12px !important;
}
.dzu-dropzone {
  overflow: auto !important;
}
.dzu-previewContainer {
padding: 10px 3% !important;
}
.Component-closeButton-2 {
  top: 0px !important;
  right: 0px !important;
}

.Component-root-1 {
  padding: 6px !important;
}

